.box-element{
    box-shadow:hsL(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

.order-row{
    display: flex;
    align-items: self-start;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}

.row-image{
    width: 100px;
}

.quantity{
    display: inline-block;
    font-weight: 100;
    padding-right: 10px;
}

.chg-quantity{
    width: 30px;
    cursor: pointer;
    display: block;
    margin-top: 5px;
    transition: 1s;
}

.chg-quantity:hover{
    opacity: .6;
}

#left-t {
  margin-left: 100px;
}

.hide { display: none; }
#identify { padding: 10px; }